.head-banner{
    background-color: black;
    padding-top: 420px;
    background-image: url(img/home1_slide_three_bg_2.jpg);
    background-size: cover;
}

.text-header{
   
}


.card{
    width: 221px;
    height: 109px;
    padding-bottom: 1px;
    border: none;
}

.img-genre{
    display: flex;
    justify-content: center;
}

.title-card{
    padding-top: 30px;
    padding-left: 500px;
}

.p-left{
    padding-left: 17px;
}

.container-card2{
    padding-top: 400px;
}

.card-body1{
    background-image: url(img/winter_collection_bg.jpg);
    background-size: cover;
}