.head-banner{
    background-color: black;
    padding-top: 420px;
    background-image: url(img/home1_slide_three_bg_2.jpg);
    background-size: cover;
}


.container{
    padding-top: 10px;
}

.card{
    width: 221px;
    height: 109px;
    padding-bottom: 1px;
}